In [16]:
import requests
import os
from bs4 import BeautifulSoup
import pandas as pd

In [40]:
#Website
url = "https://apps.fomento.gob.es/BoletinOnline/?nivel=2&orden=09000000"

#get all .XLS hrefs
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
links = [link.get('href') for link in soup.find_all('a') if '.XLS' in link.get('href')]

In [41]:
links

['sedal/09010100.XLS',
 'sedal/09010200.XLS',
 'sedal/09010300.XLS',
 'sedal/09010400.XLS',
 'sedal/09010500.XLS',
 'sedal/09010600.XLS',
 'sedal/09010700.XLS',
 'sedal/09010800.XLS',
 'sedal/09010900.XLS',
 'sedal/09011000.XLS',
 'sedal/09011100.XLS',
 'sedal/09011200.XLS',
 'sedal/09011300.XLS',
 'sedal/09011500.XLS',
 'sedal/09011600.XLS',
 'sedal/09020110.XLS',
 'sedal/09020120.XLS',
 'sedal/09020130.XLS',
 'sedal/09020140.XLS',
 'sedal/09020150.XLS',
 'sedal/09020160.XLS',
 'sedal/09020170.XLS',
 'sedal/09020180.XLS',
 'sedal/09020210.XLS',
 'sedal/09020220.XLS',
 'sedal/09020230.XLS',
 'sedal/09020240.XLS',
 'sedal/09020250.XLS',
 'sedal/09020260.XLS',
 'sedal/09020270.XLS',
 'sedal/09020280.XLS',
 'sedal/09020310.XLS',
 'sedal/09020320.XLS',
 'sedal/09020330.XLS',
 'sedal/09020340.XLS',
 'sedal/09020350.XLS',
 'sedal/09020360.XLS',
 'sedal/09020370.XLS',
 'sedal/09020380.XLS',
 'sedal/09020410.XLS',
 'sedal/09020420.XLS',
 'sedal/09020430.XLS',
 'sedal/09020440.XLS',
 'sedal/09020450.XLS',
 'sedal/09020460.XLS',
 'sedal/09020470.XLS',
 'sedal/09020480.XLS',
 'sedal/09020510.XLS',
 'sedal/09020520.XLS',
 'sedal/09020530.XLS',
 'sedal/09020540.XLS',
 'sedal/09020550.XLS',
 'sedal/09020560.XLS',
 'sedal/09020570.XLS',
 'sedal/09020580.XLS',
 'sedal/09020610.XLS',
 'sedal/09020620.XLS',
 'sedal/09020630.XLS',
 'sedal/09020640.XLS',
 'sedal/09020650.XLS',
 'sedal/09020660.XLS',
 'sedal/09020670.XLS',
 'sedal/09020680.XLS',
 'sedal/09020710.XLS',
 'sedal/09020720.XLS',
 'sedal/09020730.XLS',
 'sedal/09020740.XLS',
 'sedal/09020750.XLS',
 'sedal/09020760.XLS',
 'sedal/09020770.XLS',
 'sedal/09020780.XLS',
 'sedal/09020810.XLS',
 'sedal/09020820.XLS',
 'sedal/09020830.XLS',
 'sedal/09020840.XLS',
 'sedal/09020850.XLS',
 'sedal/09020860.XLS',
 'sedal/09020870.XLS',
 'sedal/09020880.XLS',
 'sedal/09020910.XLS',
 'sedal/09020920.XLS',
 'sedal/09020930.XLS',
 'sedal/09020940.XLS',
 'sedal/09020950.XLS',
 'sedal/09020960.XLS',
 'sedal/09020970.XLS',
 'sedal/09020980.XLS',
 'sedal/09021010.XLS',
 'sedal/09021020.XLS',
 'sedal/09021030.XLS',
 'sedal/09021040.XLS',
 'sedal/09021050.XLS',
 'sedal/09021060.XLS',
 'sedal/09021070.XLS',
 'sedal/09021080.XLS',
 'sedal/09021110.XLS',
 'sedal/09021120.XLS',
 'sedal/09021130.XLS',
 'sedal/09021140.XLS',
 'sedal/09021150.XLS',
 'sedal/09021160.XLS',
 'sedal/09021170.XLS',
 'sedal/09021180.XLS',
 'sedal/09021210.XLS',
 'sedal/09021220.XLS',
 'sedal/09021230.XLS',
 'sedal/09021240.XLS',
 'sedal/09021250.XLS',
 'sedal/09021260.XLS',
 'sedal/09021270.XLS',
 'sedal/09021280.XLS',
 'sedal/09021310.XLS',
 'sedal/09021320.XLS',
 'sedal/09021330.XLS',
 'sedal/09021340.XLS',
 'sedal/09021350.XLS',
 'sedal/09021360.XLS',
 'sedal/09021370.XLS',
 'sedal/09021380.XLS',
 'sedal/09021410.XLS',
 'sedal/09021420.XLS',
 'sedal/09021430.XLS',
 'sedal/09021440.XLS',
 'sedal/09021450.XLS',
 'sedal/09021460.XLS',
 'sedal/09021470.XLS',
 'sedal/09021480.XLS',
 'sedal/09021510.XLS',
 'sedal/09021520.XLS',
 'sedal/09021530.XLS',
 'sedal/09021540.XLS',
 'sedal/09021550.XLS',
 'sedal/09021560.XLS',
 'sedal/09021570.XLS',
 'sedal/09021580.XLS',
 'sedal/09021610.XLS',
 'sedal/09021620.XLS',
 'sedal/09021630.XLS',
 'sedal/09021640.XLS',
 'sedal/09021650.XLS',
 'sedal/09021660.XLS',
 'sedal/09021670.XLS',
 'sedal/09021680.XLS',
 'sedal/09021710.XLS',
 'sedal/09021720.XLS',
 'sedal/09021730.XLS',
 'sedal/09021740.XLS',
 'sedal/09021750.XLS',
 'sedal/09021760.XLS',
 'sedal/09021770.XLS',
 'sedal/09021780.XLS',
 'sedal/09030110.XLS',
 'sedal/09030120.XLS',
 'sedal/09030130.XLS',
 'sedal/09030210.XLS',
 'sedal/09030220.XLS',
 'sedal/09030230.XLS',
 'sedal/09030310.XLS',
 'sedal/09030320.XLS',
 'sedal/09030330.XLS',
 'sedal/09030410.XLS',
 'sedal/09030420.XLS',
 'sedal/09030430.XLS',
 'sedal/09030510.XLS',
 'sedal/09030520.XLS',
 'sedal/09030530.XLS',
 'sedal/09030610.XLS',
 'sedal/09030620.XLS',
 'sedal/09030630.XLS',
 'sedal/09030710.XLS',
 'sedal/09030720.XLS',
 'sedal/09030730.XLS',
 'sedal/09030810.XLS',
 'sedal/09030820.XLS',
 'sedal/09030830.XLS',
 'sedal/09030910.XLS',
 'sedal/09030920.XLS',
 'sedal/09030930.XLS',
 'sedal/09031010.XLS',
 'sedal/09031020.XLS',
 'sedal/09031030.XLS',
 'sedal/09031110.XLS',
 'sedal/09031120.XLS',
 'sedal/09031130.XLS',
 'sedal/09031210.XLS',
 'sedal/09031220.XLS',
 'sedal/09031230.XLS',
 'sedal/09031310.XLS',
 'sedal/09031320.XLS',
 'sedal/09031330.XLS',
 'sedal/09031410.XLS',
 'sedal/09031420.XLS',
 'sedal/09031430.XLS',
 'sedal/09031510.XLS',
 'sedal/09031520.XLS',
 'sedal/09031530.XLS',
 'sedal/09031610.XLS',
 'sedal/09031620.XLS',
 'sedal/09031630.XLS',
 'sedal/09031710.XLS',
 'sedal/09031720.XLS',
 'sedal/09031730.XLS',
 'sedal/09031810.XLS',
 'sedal/09031820.XLS',
 'sedal/09031830.XLS',
 'sedal/09031910.XLS',
 'sedal/09031920.XLS',
 'sedal/09031930.XLS',
 'sedal/09032010.XLS',
 'sedal/09032020.XLS',
 'sedal/09032030.XLS',
 'sedal/09032110.XLS',
 'sedal/09032120.XLS',
 'sedal/09032130.XLS',
 'sedal/09032210.XLS',
 'sedal/09032220.XLS',
 'sedal/09032230.XLS',
 'sedal/09032310.XLS',
 'sedal/09032320.XLS',
 'sedal/09032330.XLS',
 'sedal/09032410.XLS',
 'sedal/09032420.XLS',
 'sedal/09032430.XLS',
 'sedal/09032510.XLS',
 'sedal/09032520.XLS',
 'sedal/09032530.XLS',
 'sedal/09032610.XLS',
 'sedal/09032620.XLS',
 'sedal/09032630.XLS',
 'sedal/09032710.XLS',
 'sedal/09032720.XLS',
 'sedal/09032730.XLS',
 'sedal/09032810.XLS',
 'sedal/09032820.XLS',
 'sedal/09032830.XLS',
 'sedal/09032910.XLS',
 'sedal/09032920.XLS',
 'sedal/09032930.XLS',
 'sedal/09033010.XLS',
 'sedal/09033020.XLS',
 'sedal/09033030.XLS',
 'sedal/09033110.XLS',
 'sedal/09033120.XLS',
 'sedal/09033130.XLS',
 'sedal/09033210.XLS',
 'sedal/09033220.XLS',
 'sedal/09033230.XLS',
 'sedal/09033310.XLS',
 'sedal/09033320.XLS',
 'sedal/09033330.XLS',
 'sedal/09033410.XLS',
 'sedal/09033420.XLS',
 'sedal/09033430.XLS',
 'sedal/09033510.XLS',
 'sedal/09033520.XLS',
 'sedal/09033530.XLS',
 'sedal/09033610.XLS',
 'sedal/09033620.XLS',
 'sedal/09033630.XLS',
 'sedal/09033710.XLS',
 'sedal/09033720.XLS',
 'sedal/09033730.XLS',
 'sedal/09033810.XLS',
 'sedal/09033820.XLS',
 'sedal/09033830.XLS',
 'sedal/09033910.XLS',
 'sedal/09033920.XLS',
 'sedal/09033930.XLS',
 'sedal/09034010.XLS',
 'sedal/09034020.XLS',
 'sedal/09034030.XLS',
 'sedal/09034110.XLS',
 'sedal/09034120.XLS',
 'sedal/09034130.XLS',
 'sedal/09034210.XLS',
 'sedal/09034220.XLS',
 'sedal/09034230.XLS',
 'sedal/09034310.XLS',
 'sedal/09034320.XLS',
 'sedal/09034330.XLS',
 'sedal/09034410.XLS',
 'sedal/09034420.XLS',
 'sedal/09034430.XLS',
 'sedal/09034510.XLS',
 'sedal/09034520.XLS',
 'sedal/09034530.XLS',
 'sedal/09034610.XLS',
 'sedal/09034620.XLS',
 'sedal/09034630.XLS',
 'sedal/09034710.XLS',
 'sedal/09034720.XLS',
 'sedal/09034730.XLS',
 'sedal/09034810.XLS',
 'sedal/09034820.XLS',
 'sedal/09034830.XLS',
 'sedal/09034910.XLS',
 'sedal/09034920.XLS',
 'sedal/09034930.XLS',
 'sedal/09035010.XLS',
 'sedal/09035020.XLS',
 'sedal/09035030.XLS']

In [42]:
len(links)

301

In [43]:
links[0]

'sedal/09010100.XLS'

In [44]:
#Download the .XLS files
r=requests.get("https://apps.fomento.gob.es/BoletinOnline/" + links[202], allow_redirects = True)
filename = 'myfile.xls'
with open (os.path.join("./",filename),'wb') as f:
    f.write(r.content)

In [46]:
#Convert to .csv file with ';' as the delimiter
df = pd.read_excel('./myfile.xls')
df.to_csv('myfile.csv', sep=';', index=False,  encoding='utf-8')

WARNING *** file size (98240) not 512 + multiple of sector size (512)

In [65]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,21.- VISADOS DE DIRECCIÓN DE OBRA NUEVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,N.º de viviendas y superficie media según dest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Granada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
387,NaN,NaN,Ene,170.0,145.0,0.0,129.323529,93.468965,NaN,NaN,23.0,338.0
388,1991,NaN,Dic,123.0,220.0,0.0,150.609756,110.963636,NaN,NaN,18.0,361.0
389,NaN,NaN,Nov,270.0,362.0,0.0,136.177777,111.008287,NaN,NaN,3.0,635.0
390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,"Fuente: M. Transportes, Movilidad y Agenda Urb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
df['Unnamed: 0'].fillna(method='ffill', inplace = True)

In [94]:
df['cpro'] = links[202][10:12]

In [95]:
df['typeflag'] = links[202][12:13]

In [106]:
df[~df['Unnamed: 0'].isnull() & ~df['Unnamed: 2'].isnull()]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,cpro,typeflag
13,2023,NaN,Mar,70.0,312.0,0.0,165.800000,114.083333,NaN,NaN,31.0,413.0,18,1
14,2023,NaN,Feb,52.0,99.0,0.0,171.326923,103.151515,NaN,NaN,29.0,180.0,18,1
15,2023,NaN,Ene,39.0,73.0,0.0,173.615384,116.616438,NaN,NaN,36.0,148.0,18,1
16,2022,NaN,Dic,42.0,51.0,0.0,172.357142,97.254901,NaN,NaN,26.0,119.0,18,1
17,2022,NaN,Nov,40.0,537.0,0.0,184.825000,94.139664,NaN,NaN,55.0,632.0,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,1992,NaN,Mar,166.0,213.0,0.0,147.120481,100.474178,NaN,NaN,5.0,384.0,18,1
386,1992,NaN,Feb,212.0,412.0,1.0,147.929245,92.283980,NaN,NaN,10.0,635.0,18,1
387,1992,NaN,Ene,170.0,145.0,0.0,129.323529,93.468965,NaN,NaN,23.0,338.0,18,1
388,1991,NaN,Dic,123.0,220.0,0.0,150.609756,110.963636,NaN,NaN,18.0,361.0,18,1
389,1991,NaN,Nov,270.0,362.0,0.0,136.177777,111.008287,NaN,NaN,3.0,635.0,18,1

In [92]:
# not renaming because we will have to rename in snowflake anyway
# df.rename(columns={'Unnamed: 0':'yr',
#                    'Unnamed: 2':'mth',
#                    'Unnamed: 3':})

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,21.- VISADOS DE DIRECCIÓN DE OBRA NUEVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,N.º de viviendas y superficie media según dest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Granada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
387,1992,NaN,Ene,170.0,145.0,0.0,129.323529,93.468965,NaN,NaN,23.0,338.0
388,1991,NaN,Dic,123.0,220.0,0.0,150.609756,110.963636,NaN,NaN,18.0,361.0
389,1991,NaN,Nov,270.0,362.0,0.0,136.177777,111.008287,NaN,NaN,3.0,635.0
390,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,"Fuente: M. Transportes, Movilidad y Agenda Urb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
links[0][6:14]+'.xls'

'09010100.xls'

In [50]:
links[0][9]

'1'

In [113]:
pd.concat([df,df])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,cpro,typeflag
0,NaN,21.- VISADOS DE DIRECCIÓN DE OBRA NUEVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
2,NaN,N.º de viviendas y superficie media según dest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
4,NaN,Granada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,1992,NaN,Ene,170.0,145.0,0.0,129.323529,93.468965,NaN,NaN,23.0,338.0,18,1
388,1991,NaN,Dic,123.0,220.0,0.0,150.609756,110.963636,NaN,NaN,18.0,361.0,18,1
389,1991,NaN,Nov,270.0,362.0,0.0,136.177777,111.008287,NaN,NaN,3.0,635.0,18,1
390,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1
391,"Fuente: M. Transportes, Movilidad y Agenda Urb...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,1

In [115]:
#We'll make 3 materfiles for each of the categories.
#Category 1: New Residential units and average area built along with major renovation projects (that require permits)
dfmaster1 = pd.DataFrame()

#Iterating through the links collected
for link in links:

#     Only want to see province level category 1 files
    if link[9] == '3' and link[12] == '1':
#         Want to see what link we are on
        print(link)
        
#         Collecting the data
        r=requests.get("https://apps.fomento.gob.es/BoletinOnline/" + link, allow_redirects = True)
        
#         Naming the file
        filename = link[6:14]+'.xls'
        
#         Putting it into the file
        with open (os.path.join("./",filename),'wb') as f:
            f.write(r.content)
        
#         Reading the XLS file into a dataframe
        dftemp = pd.read_excel('./'+filename)

#         Filling the missing years
        dftemp['Unnamed: 0'].fillna(method='ffill', inplace = True)
    
#         Adding the cpro to join with other data sets
        dftemp['cpro'] = link[10:12]
    
#         Adding the typeflag (category)
        dftemp['typeflag'] = link[12:13]
    
#         Just want to add the month wise data
        dftemp2 = dftemp[~dftemp['Unnamed: 0'].isnull() & ~dftemp['Unnamed: 2'].isnull()]
    
        dfmaster = pd.concat([dfmaster,dftemp2])

    else: 
        continue

sedal/09030110.XLS
WARNING *** file size (90048) not 512 + multiple of sector size (512)
sedal/09030210.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030310.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030410.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030510.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030610.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030710.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030810.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09030910.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031010.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031110.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031210.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031310.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031410.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031510.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031610.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031710.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031810.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09031910.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032010.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032110.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032210.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032310.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032410.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032510.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032610.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032710.XLS
WARNING *** file size (90048) not 512 + multiple of sector size (512)
sedal/09032810.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09032910.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033010.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033110.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033210.XLS
WARNING *** file size (90048) not 512 + multiple of sector size (512)
sedal/09033310.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033410.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033510.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033610.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033710.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033810.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09033910.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034010.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034110.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034210.XLS
WARNING *** file size (90048) not 512 + multiple of sector size (512)
sedal/09034310.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034410.XLS
WARNING *** file size (90048) not 512 + multiple of sector size (512)
sedal/09034510.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034610.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034710.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034810.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09034910.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)
sedal/09035010.XLS
WARNING *** file size (98240) not 512 + multiple of sector size (512)

In [116]:
dfmaster

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,cpro,typeflag
13,2023,NaN,Mar,5.0,64.0,0.0,248.200000,120.000000,NaN,NaN,11.0,80.0,01,1
14,2023,NaN,Feb,9.0,44.0,0.0,151.111111,171.636363,NaN,NaN,10.0,63.0,01,1
15,2023,NaN,Ene,6.0,106.0,0.0,136.166666,88.849056,NaN,NaN,15.0,127.0,01,1
16,2022,NaN,Dic,1.0,10.0,0.0,112.000000,206.000000,NaN,NaN,18.0,29.0,01,1
17,2022,NaN,Nov,7.0,259.0,0.0,164.571428,112.034749,NaN,NaN,22.0,288.0,01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,1992,NaN,Mar,38.0,368.0,0.0,172.131578,128.970108,NaN,NaN,27.0,433.0,50,1
386,1992,NaN,Feb,64.0,385.0,0.0,161.171875,108.358441,NaN,NaN,38.0,487.0,50,1
387,1992,NaN,Ene,30.0,286.0,1.0,199.500000,207.167832,NaN,NaN,10.0,327.0,50,1
388,1991,NaN,Dic,55.0,593.0,0.0,176.418181,115.927487,NaN,NaN,28.0,676.0,50,1
389,1991,NaN,Nov,124.0,629.0,1.0,192.991935,129.104928,NaN,NaN,5.0,759.0,50,1

In [117]:
dfmaster.to_csv('buildingpermits1.csv', sep=';', index=False,  encoding='utf-8')